doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= event.title
    link(type='text/css', rel='stylesheet', href='/css/common.css')
    link(type='text/css', rel='stylesheet', href='/css/events.css')
    link(type='text/css', rel='stylesheet', href='/css/bootstrap.css')
    link(type='text/css', rel='stylesheet', href='/css/daterangepicker-bs3.css')
  body
    div#app-name: a(href='/') Schet
    h1#title= event.title
    p#description= event.description
    table.record
      tr
        th Fix
        th Term
        unless event.fixed
          th: input#new-participant-name(type='text', placeholder='Name')
        for name, id in event.participants
          th: span.participant-name(participant-id=id)= name
      for term in event.terms
        tr(class="is-#{event.fixed == term.id ? 'fixed' : 'unfixed'}")
          td
            if !event.fixed || event.fixed == term.id
              input.fix-event-checkbox(type='checkbox', term-id=term.id, checked=(event.fixed == term.id))
          td.term-row
            unless event.fixed
              button.delete-term.btn.btn.default(term-id=term.id, title='Delete this term')
                span.glyphicon.glyphicon-minus
            span.term= term.term
          unless event.fixed
            td
              select.new-record(term-id=term.id)
                option(value='presence') ○
                option(value='uncertain') △
                option(value='absence') ×
          for name, id in event.participants
            if event.fixed
              case event.record[id][term.id]
                when 'presence': td ○
                when 'uncertain': td △
                when 'absence': td ×
            else
              td
                select.record(participant-id=id, term-id=term.id)
                  option(value='presence', selected=(event.record[id][term.id] === 'presence')) ○
                  option(value='uncertain', selected=(event.record[id][term.id] === 'uncertain')) △
                  option(value='absence', selected=(event.record[id][term.id] === 'absence')) ×
      unless event.fixed
        tr
          td
          td.form-inline
            input#new-term-field.form-control(type='text', name='daterange', readonly)
            button#new-term-button.btn.btn-default(title='Add a term')
              span.glyphicons.glyphicon-plus
            unless event.fixed
              td
                button#new-participant-button.btn.btn-default(title='Add a participant')
                  span.glyphicons.glyphicon-plus
            for name, id in event.participants
              td
                button.delete-participant.btn.btn-default(participant-id=id, title='Delete this participant')
                  span.glyphicon.glyphicon-minus
    hr
    ol#comments
      for comment, id in event.comments
        li.comment
          div
            button.delete-comment(comment-id=id, title='Delete this comment')
              span.glyphicon.glyphicon-minus
          div.comment-name= comment.name
          div.comment-separator -
          div.comment-body(comment-id=id)= comment.body
    form#comment-form.form-inline(method='POST', action='/#{event.id}/comments')
      input#comment-name-field.form-control(name='name', type='text', placeholder='Name')
      input#comment-body-field.form-control(name='body', type='text', placeholder='Message')
      input#comment-submit.btn.btn-default(type='submit', value='Add Comment')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.js')
    script(type='text/javascript', src='/js/moment.js')
    script(type='text/javascript', src='/js/daterangepicker.js')
    script(type='text/javascript', src='/js/schet.js')
    script(type='text/javascript', src='/js/events.js')
