<html>
<head>
    <title><%= event.title %></title>
    <link type="text/css" rel="stylesheet" href="/css/common.css"/>
    <link type="text/css" rel="stylesheet" href="/css/events.css"/>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="/css/daterangepicker-bs3.css" />
</head>
<body>

<div id="app-name"><a href="/">Schet</a></div>

<h1 id="title"><%= event.title %></h1>

<p id="description"><%= event.description %></p>

<table class="record">
    <tr>
        <th>Fix</th>
        <th>Term</th>
        <% if(!event.fixed) { %><th><input type="text" id="new-participant-name" placeholder="Name"/></th><% } %>
        <% for(var participantID in event.participants) { %>
        <th>
            <span class="participant-name" participant-id="<%= participantID %>"><%= event.participants[participantID] %></span>
        </th>
        <% } %>
    </tr>
    <% event.terms.forEach(function(term) { %>
    <tr <% if(event.fixed == term.id){ %>class="fixed-term-row"<% } %>>
        <td>
            <% if(!event.fixed || event.fixed == term.id){ %>
            <input type="checkbox" class="fix-event-checkbox" term-id="<%= term.id %>" <% if(event.fixed == term.id) { %>checked<% } %>/>
            <% } %>
        </td>
        <td class="term-row">
            <% if(!event.fixed) { %><button class="delete-term btn btn-default" term-id="<%= term.id %>" title="Delete this term"><span class="glyphicon glyphicon-minus"></span></button><% } %>
            <span class="term"><%= term.term %></span>
        </td>
        <% if(!event.fixed) { %>
        <td>
            <select class="new-record" term-id="<%= term.id %>">
                <option value="presence">○</option>
                <option value="uncertain">△</option>
                <option value="absence">×</option>
            </select>
        </td>
        <% } %>
        <% for(var participantID in event.participants) { var val = event.record[participantID][term.id]; %>
        <td>
            <% if(event.fixed) { %>
                <%= {presence: '○', uncertain: '△', absence: '×'}[val] %>
            <% } else { %>
            <select id="record-<%= participantID %>-<%= term.id %>" class="existing">
                <option value="presence" <% if(val === 'presence'){ %>selected<% } %>>○</option>
                <option value="uncertain" <% if(val === 'uncertain'){ %>selected<% } %>>△</option>
                <option value="absence" <% if(val === 'absence'){ %>selected<% } %>>×</option>
            </select>
            <% } %>
        </td>
        <% } %>
    </tr>
    <% }); %>
    <% if(!event.fixed) { %>
    <tr>
        <td></td>
        <td class="form-inline">
            <input type="text" id="new-term-field" name="daterange" class="form-control" readonly /><button id="new-term-button" class="btn btn-default" title="Add a term"><span class="glyphicons glyphicon-plus"></span></button>
        </td>
        <% if(!event.fixed) { %>
        <td>
            <button id="new-participant-button" class="btn btn-default" title="Add a participant"><span class="glyphicons glyphicon-plus"></span></button>
        </td>
        <% } %>
        <% for(var participantID in event.participants) { %>
        <td>
            <button class="delete-participant btn btn-default" participant-id="<%= participantID %>" title="Delete this participant"><span class="glyphicon glyphicon-minus"></span></button>
        </td>
        <% } %>
    </tr>
    <% } %>
</table>

<hr/>

<ol id="comments">
    <% for(var commentID in event.comments) { %>
    <li class="comment">
        <div><button class="delete-comment" comment-id="<%= commentID %>" title="Delete this comment"><span class="glyphicon glyphicon-minus"></span></button></div>
        <div class="comment-name" comment-id="<%= commentID %>"><%= event.comments[commentID].name %></div>
        <div class="comment-separator"> - </div>
        <div class="comment-body" comment-id="<%= commentID %>"><%= event.comments[commentID].body %></div>
    </li>
    <% } %>
</ol>

<form id="comment-form" class="form-inline" method="POST" action="/<%= event.id %>/comments">
    <input id="comment-name-field" class="form-control" name="name" type="text" placeholder="Name"/>
    <input id="comment-body-field" class="form-control"  name="body" type="text" placeholder="Message"/>
    <input id="comment-submit" class="btn btn-default" type="submit" value="Add Comment"/>
</form>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src="/js/daterangepicker.js"></script>
<script type="text/javascript" src="/js/schet.js"></script>
<script type="text/javascript" src="/js/events.js"></script>
</body>
</html>
